/*Título e tabela centralizados*/

h1 {
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
  width: 840px;
  border-spacing: 2px;
  border: 1px solid black;
}

/*Imagens*/

img.ft {
  padding: 15px;
  width: 200px;
  height: 65px;
 }
 
 img.unicamp {
  padding: 15px;
  width: 100px;
  height: 83px;
  float: right;
 }
 
/*Principal*/

div#principal {
 width: auto;
 height: auto;
 font-family: Segoe UI, Segoe , "sans-serif";
 background-position: center;
 background-size: cover;
}

header#cabecalho {
 height: auto;
 background: rgb(68,180,215);
 background: radial-gradient(circle, rgba(68,180,215,1) 57%, rgba(43,177,200,1) 82%);
}

#campos {
 width: 350px;
 height: auto;
 display: block;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}

#cadastrados {
  text-align: center;
}