/*Título e colunas centralizados*/

h1 {
  text-align: center;
}

td {
  text-align: center;
  vertical-align: middle;
}

/*Imagens*/

img.ft {
  padding: 15px;
  width: 200px;
  height: 65px;
 }
 
 img.unicamp {
  padding: 15px;
  width: 100px;
  height: 83px;
  float: right;
 }
 

/*Jogo*/

div.principalgame {
 width: auto;
 height: auto;
 font-family: Segoe UI, Segoe , "sans-serif";
 background-position: center;
 background-size: cover;
}

header#cabecalho {
 height: auto;
 background: rgb(68,180,215);
 background: radial-gradient(circle, rgba(68,180,215,1) 57%, rgba(43,177,200,1) 82%);
}

#jogojavascript {
 width: 470px;
 height: 50%;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.tabuleiro{
    background-color:black;
}

.quadrado{
width: 150px;
height: 150px;
background: white;
font-size: 80px;
cursor: pointer;
}

#vez{
  text-align: center;
  font-size: 32px;
}